body {
  background-color: black;
  font-family: helvetica;
}
#nav {
  margin-top:3vh;
  margin-bottom: 5vh;
}
#nav a{
  font-size: 3vw;
  background-color: white;
  color: black;
  font-style: italic;
  text-decoration: none;
  /*border-style:solid;
  border-width: thin;
  border-color: pink;*/
  border-radius: 100px;
  padding:10px;
}
#nav a:nth-of-type(1)
{
  color: white;
  background-color: pink;
  -webkit-box-shadow: inset 0px 0px 18px 0px rgba(255,0,255,1);
-moz-box-shadow: inset 0px 0px 18px 0px rgba(255,0,255,1);
box-shadow: inset 0px 0px 18px 0px rgba(255,0,255,1);
}

#nav a:nth-of-type(2)
{
  background-color: red;
  -webkit-box-shadow: inset 0px 0px 18px 0px rgba(0,255,17,1);
-moz-box-shadow: inset 0px 0px 18px 0px rgba(0,255,17,1);
box-shadow: inset 0px 0px 18px 0px rgba(0,255,17,1);
}

#nav a:nth-of-type(3)
{
  margin-left: 30vw;
  background-color: blue;
  -webkit-box-shadow: inset 0px 0px 18px 0px rgba(0,255,242,1);
-moz-box-shadow: inset 0px 0px 18px 0px rgba(0,255,242,1);
box-shadow: inset 0px 0px 18px 0px rgba(0,255,242,1);
}

#nav a:nth-of-type(4)
{
  -webkit-box-shadow: inset 0px 0px 18px 0px rgba(0,0,0,1);
-moz-box-shadow: inset 0px 0px 18px 0px rgba(0,0,0,1);
box-shadow: inset 0px 0px 18px 0px rgba(0,0,0,1);
}
