body {
  font-family: courier;
  background-color: #e1e1e1;
}
#grain {
  width: 200px;

}


#grain {
  float:left;
  margin: 1vw;
  background-color: white;
  padding:10px;
  border-radius: 1vw;
  border-color: blue;
  border-style: solid;
  border-width: thin;

}
#grain p{
  text-align: center;
  color: #2b2b2b;
  background-color: white;
  /*border-radius: 100vw;
  border-style: solid;
  border-width: thin;
  border-color:green;*/
  padding: 10px;
}
#grain img {
  background-color: white;
  border-radius: 1vw;
  border-color: #b642f5;
  border-style: solid;
  border-width: thin;
  width:200px;
}
