body {
  background: #e1e1e1;
  font-family: helvetica;
  font-weight: lighter;
}

.box {
  color: purple;
  margin-left: 2vw;
}

.content {
  width: 20vw;
  background-color: white;
  color: green;
  margin-left: 5vw;
}
