body {
  font-family: helvetica;
  font-weight: lighter;
  background-color: #e5e5e5;
}

.titles {
  color: #b400ff;
  font-size: 7vw;
  font-weight: light;

}
.buttons {
  font-size: 4vw;
  background-image: url(i/name.jpg);
  margin-top: 0vw;
  margin-right: 0vw;
  float: right;
}
.buttons a {
  padding: 1vw 1vw 1vw 2vw;
}

.info {
  margin: 0vw;
  font-size: 3vw;
}
.info p {
  margin-top: -1vw;
}

img {
  width: 100%;
}


.description {
  width:auto;
  /*border-color: black;
  border-style: solid;
  border-width: thin;*/
  margin-bottom: 60px;
  padding-left: 20px;
  padding-top: 10px;
  text-align: right;
  padding-right: 10px;
  background-color: white;
  margin-top: 0px;
  font-size: 30px;
  color: green;
}

/* unvisited link */
a:link {
  color: #b400ff;
  text-decoration: none;
  background-color: white;
}

/* visited link */
a:visited {
  color: #b400ff;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: blue;
  text-decoration: none;
}

/* selected link */
a:active {
  color: yellow;
  text-decoration: none;
  background-color: blue;
}
