body {
  font-family: helvetica;
  font-weight: lighter;
  background-color: #e5e5e5;
}

.titles {
  color: #b400ff;
  font-size: 50px;
  font-weight: light;
}

.info {
  margin: -5px;
  font-size: 30px;
}
.info p {
  margin-top: -10px;
}

img {
  width: 100%;
  -webkit-box-shadow: 10px 20px 67px -25px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 20px 67px -25px rgba(0,0,0,0.24);
  box-shadow: 10px 20px 67px -25px rgba(0,0,0,0.24);
}


.description {
  margin-bottom: 60px;
  padding-left: 20px;
  padding-top: 10px;
  text-align: right;
  padding-right: 10px;
  background-color: white;
  margin-top: 0px;
  font-size: 30px;
  color: green;
  border-color: black;
  border-style: solid;
  border-width: thin;
}

/* unvisited link */
a:link {
  color: #b400ff;
  text-decoration: none;
  background-color: white;
}

/* visited link */
a:visited {
  color: #b400ff;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: blue;
  text-decoration: none;
}

/* selected link */
a:active {
  color: yellow;
  text-decoration: none;
  background-color: blue;
}
