body {
  font-family: helvetica;
  background-color: #e5e5e5;
}

.titles {
  color: #b400ff;
  font-size: 30px;
  font-weight: light;
}

.info {
  margin: -5px;
  font-size: 20px;
}
.info p {
  margin-top: -10px;
}

img {
  width: 100%;
}


.description {
  text-align: right;
  padding-right: 10px;
  background-color: white;
  margin-top: 0px;
  font-size: 30px;
  color: green;
  border-color: black;
  border-style: solid;
  border-width: thin;
}
