@font-face {
  src: url(font/CLOCK_0505-notRegular.woff2);
  font-family: 'CLOCK-notRegular';
}

@font-face {
  src: url(font/barbecue_0519-Regular.woff2);
  font-family: 'barbecue';
}

body {
  color: white;
  background-image: url(i/bg-2.jpg);
  background-repeat:repeat;
  background-size:cover;
  font-family: CLOCK-notRegular;
  font-size: 5rem;
}

.title {
  /* background-color: grey; */
  font-size: 8rem;
  text-align: center;
  padding: 2rem;
  /* clip-path: polygon(4% 0, 100% 0%, 97% 100%, 0% 100%); */


}
span {
  margin-right: -5rem;
  /* margin-left: -5rem; */
}
.not {
  vertical-align: -0rem;
}
.your {
  vertical-align: 2rem;
}
.type {
  vertical-align: -3rem;
}
.foundry {
  vertical-align: 1rem;
}
.ca {
  font-size: 5rem;
  text-align: center;
  padding-bottom: 1em;
}
.currently {
  color: yellow;
  -webkit-text-stroke: 0.2rem black;
}
.available {
  color: red;
  -webkit-text-stroke: 0.2rem black;
  animation: color 0.5s infinite;
  animation-direction: alternate-reverse;


}

.fonts {
  padding: 0.5em;
  /* background-color: yellow; */
  text-align: center;
  /* clip-path: polygon(1% 17%, 52% 13%, 98% 7%, 100% 97%, 44% 100%, 4% 97%); */

}
@keyframes shifting {
  from {text-transform: lowercase;}
  to {text-transform: capitalize;;}
}
.barbecue {

  font-family: barbecue;
  animation: shifting 0.5s infinite;
  animation-direction: alternate-reverse;
}
.tryout {
  color:red;
  text-align: center;
  margin: 3rem;
  clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);

}
a {
  color: white;
  text-decoration: none;
  justify-content: center;
  background-color: blue;
  /* border-radius: 3rem; */
  padding:6rem;
  /* clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%); */
}
@keyframes color {
  from {color: yellow;
    /* font-size: 5rem;} */
  to {color: red;
  /* font-size: 10rem;} */
}
