body {
  font-family: helvetica;
  background-color: #e5e5e5;
}
.nav {
  float:right;
  width: 200px;
}
.back {
  float:right;
  font-size: 40px;
}
img {
  margin-bottom: 300px;
}
.images {
  width: 1000px;
}
.description {

  margin-top: 100px;
  background-color: white;
  float:right;
  border: 1px solid white;
  /*border-radius: 20px;*/
}

.description p {
  margin: 0px;
  font-size: 18px;
}
.images img {
  text-align: center;
  width: 800px;
}

a:link {
  color: #b400ff;
  text-decoration: none;
  background-color: white;
}

/* visited link */
a:visited {
  color: #b400ff;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: blue;
  text-decoration: none;
}

/* selected link */
a:active {
  color: yellow;
  text-decoration: none;
  background-color: blue;
}
