*{
  margin:0;
}

.draggable img {
 width: 300%;
}


#mydiv {
  position: absolute;
  z-index: 9;
}

#mydiv2 {
  position: absolute;
  z-index: 9;
}

#mydiv3 {
  position: absolute;
  z-index: 9;
}

#mydiv4 {
  position: absolute;
  z-index: 9;
}

#mydiv5 {
  position: absolute;
  z-index: 9;
}

#mydiv6 {
  position: absolute;
  z-index: 9;
}

#mydivheader {
  padding: 10px;
  z-index: 10;
  color: #fff;
}


.porn img{
  margin-bottom: -15px;
  width: 100%;
}
