@font-face {
  src: url(font/CirrusCumulus.woff);
  font-family: 'cirrus';
}

@font-face {
  src:url(font/CLOCK_0401-notRegular.otf);
  font-family: 'CLOCK_notRegualr';
}
body {
  background-color: #bd52ff;
  /* background-color: purple; */
  margin: 0;
  font-size: 10rem;
  font-family: CLOCK_notRegualr;
    cursor: grab;
    color: white;
}
.test {
    /* color: blue; */
  animation: mymove 1s infinite;
  animation-delay: 0.5s;
  animation-direction:alternate-reverse;

}
@keyframes mymove {
  from {
  font-size: 2rem;
  -webkit-text-stroke: 1rem #bd52ff;
  letter-spacing: normal;
  vertical-align: 0rem;
  color: white;
text-emphasis: '☁️';



/* filter: blur(1rem); */



/* color: yellow; */
}
  to {
    font-size: 20rem;
   -webkit-text-stroke: 1rem #bd52ff;
   letter-spacing: 15rem;
   vertical-align: 20rem;
   color: white;
   text-emphasis: '☁️';



   /* filter: blur(0rem); */




    /* color: green; */
  }

}
.test0 {
  animation: mymove 1s infinite;
  animation-delay: 0.2s;
  animation-direction:alternate-reverse;
}
.test2 {
  animation: mymove 1s infinite;
  animation-delay: 1s;
}

.test3 {
  animation: mymove 1s infinite;
  animation-delay: 0.8s;

}
.anime {
  /* background-color: grey; */
  text-align: center;
}
.anime2  {
  text-align: center;
  margin-top: -20%;
  margin-left: 10%;
  background-blend-mode:difference;
}
