@font-face {
  src: url(Rain-Mild.otf);
  font-family: rain;
}
*{
    /* margin-top:50px; */
    font-family: helvetica;
}
body{
  /* background-color: black; */
    background-image: url(bg_3.jpeg);
    background-size: cover;
    font-size: 4rem;
    word-wrap: break-word;
    color: white;
    /* text-shadow: 0 80px 80px #FFF, 0 0 10px #FFF, 80px 80px 80px rgba(206,89,55,0); */
/* text-shadow: 4px 4px 4px rgba(150, 150, 150, 1); */
/* text-shadow: 2px 6px 9px #FFFFFF, 2px 6px 9px #FFFFFF, 2px 6px 9px #FFFFFF; */
/* text-shadow: 1px -7px 4px #FFFFFF, 2px -7px 4px #FFFFFF, 2px -7px 9px #FFFFFF,2px -7px 9px #FFFFFF,2px -7px 9px #FFFFFF,2px -7px 9px #FFFFFF,2px -7px 9px #FFFFFF,2px -7px 15px #FFFFFF; */
text-shadow: 1px 0px 4px #FFFFFF, 2px 0px 4px #FFFFFF, 2px 0px 9px #FFFFFF,2px 0px 9px #FFFFFF,2px -7px 9px #ffffff,2px -7px 9px #FFFFFF,2px -7px 9px #FFFFFF,2px 0px 15px #000;

-webkit-text-stroke: 1px transparent;
/* letter-spacing: -2rem; */
}

img{
    width: 100%;
    margin-top: -150px:
}
video{
    width: 100%;
    margin-top: -150px:
}

#infos{
    position: absolute;
    right: 0px;
    top: -50px;
    font-size: 1em;
    width: 25%;
    height: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-left: solid black 1px;
    overflow: scroll;
    background-color: white;
}

#txt{
  font-family:rain;
  /* letter-spacing: -1rem; */
  /* letter-spacing: -0.3rem; */
   opacity: 0.3;
    position: absolute;
    top: 10rem;
    /* font-size: 1.5em; */
    width: 100%;
    text-transform: uppercase;
    /* opacity: 0.8; */
    /*background-color: red;*/
}
.letter-o {
  color: yellow;
}
.sliders {
  z-index: 99999;
  font-size: 1rem;
  font-family: helvetica;
  margin-bottom: 4rem;
}
/* sliders */

input[type='range'] {
  overflow: hidden;
  width: 20vw !important;
  -webkit-appearance: none;
  background-color: grey;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 0.7vh !important;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
  width: 1vh !important;
  -webkit-appearance: none;
  height: 5vh !important;
  cursor: ew-resize;
  background: white;
  box-shadow: -80px 0 0 80px transparent !important;
}

input[type='range']::-webkit-slider-thumb:hover {
  width: 5vh !important;
  -webkit-appearance: none;
  height: 5vh !important;
  cursor: ew-resize;
  background: white;
  box-shadow: -80px 0 0 80px transparent !important;
}

input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}
input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}
input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}
