body {
  font-family: helvetica;
  font-style: italic;
}
#description {
  float: right;
  width: 200px;
  height: 100vh;
}
#description p:nth-child(1) {
  color: #00d8f5;

}

#description p:nth-child(2) {
  color: red;

}
#menu {
  margin: 10px;
  float:left;
  background-color: yellow;
  width:180px;
  border-width: thin;
  border-radius: 20px;
  border-color: #00d8f5;
  border-style: solid;
  text-align: center;
}

#menu p:nth-of-type(1) {
  color: #f500e9;
}
#menu p:nth-of-type(2) {
  font-size: 12px;
  color: green;
}


#menu img {
  padding-top:20px;
  width: 150px;
}
