@font-face {
  font-family: 'Round';
  src: url(font/ResourceHanRoundedCN-ExtraLight.ttf);
}
body {
  margin: 0;
  background-color: #e1e1e1;
  font-family: Round;
  font-size:5vw;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr [\31 ] 1fr 1fr 1.1fr 0.9fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.9fr 1.1fr 1fr 1.1fr 0.9fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . . a7 a8 a9 a10 . . . . . ."
    ". . . . b5 b6 . . . . b11 b12 . . . ."
    ". . . c4 . . . . . . . . c13 . . ."
    ". . d3 . . . . . . . . . . d14 . ."
    ". e2 . . . . . . . . . . . . e15 ."
    ". f2 . . . . . . . . . . . . f15 ."
    "g1 . . . . . . . . . . . . . . g16"
    "h1 . . . . . . . . . . . . . . h16"
    "i1 . . . . . . . . . . . . . . i17"
    "j1 . . . . . . . . . . . . . . j17"
    "k1 . . . . . . . . . . . . . . kk17"
    ". l2 . . . . . . . . . . . . l15 ."
    ". m2 . . . . . . . . . . . . m15 ."
    ". . n3 . . . . . . . . . . n14 . ."
    ". . . o4 . . . . . . . . n13 . . ."
    ". . . . p5 p6 . . . . p11 p12 . . . ."
    ". . . . . . q7 q8 q9 q10 . . . . . .";
}

.a7 { grid-area: a7;}

.a8 { grid-area: a8; }

.a9 { grid-area: a9; }

.a10 { grid-area: a10; }

.b5 { grid-area: b5; }

.b6 { grid-area: b6; }

.b11 { grid-area: b11; }

.b12 { grid-area: b12; }

.c4 { grid-area: c4; }

.c13 { grid-area: c13; }

.d3 { grid-area: d3; }

.d14 { grid-area: d14; }

.e2 { grid-area: e2; }

.f2 { grid-area: f2; }

.g1 { grid-area: g1; }

.h1 { grid-area: h1; }

.i1 { grid-area: i1; }

.j1 { grid-area: j1; }

.l2 { grid-area: l2; }

.m2 { grid-area: m2; }

.n3 { grid-area: n3; }

.o4 { grid-area: o4; }

.e15 { grid-area: e15; }

.f15 { grid-area: f15; }

.l15 { grid-area: l15; }

.n14 { grid-area: n14; }

.n13 { grid-area: n13; }

.k1 { grid-area: k1; }

.p5 { grid-area: p5; }

.p6 { grid-area: p6; }

.p12 { grid-area: p12; }

.p11 { grid-area: p11; }

.g16 { grid-area: g16; }

.h16 { grid-area: h16; }

.i17 { grid-area: i17; }

.j17 { grid-area: j17; }

.kk17 { grid-area: kk17; }

.m15 { grid-area: m15; }

.q7 { grid-area: q7; }

.q8 { grid-area: q8; }

.q9 { grid-area: q9; }

.q10 { grid-area: q10; }

img {
    /* border-radius: 15em; */
  width: 5vw;
  height: 5vw;
  margin: 0;
  transition: 0.5s;
  border-radius: 0.05em;
}


.container img{
    object-fit:cover;
}

.container img:hover {
  /* position: absolute;
  width: 10vw;
  height: 10vw; */
  -webkit-box-shadow: 0px 0px 50px 14px #FF2727;
  box-shadow: 0px 0px 50px 14px #FF2727;
  /* border-radius: 2rem; */
  }
.container img:active {
  width: 60vw;
  height: auto;
  position: absolute;
}
.info {
  float: right;
}

.index {

}

footer p {
  text-align: center;
  bottom: 0;
  color: white;
  font-size: 0.4em;
}
a {
  text-decoration: none;
  color: red;
}
a:hover {
  background: blue;
  transition: 0.8s;

}

a:active {
  background: yellow;
  transition: 0.8s;
}
#works {
  margin: 0.2em;
  padding: 0.2em;
  display: flex;
  background-color: white;
  /* border: 1em solid grey; */
  border-radius: 0.2em;
  transition: 1s;
    filter:grayscale(1);
}
#works:hover {
filter: grayscale(0);
  color: white;
  /* background-color: black; */
}

#works img {
  border-radius: .4em;
  width: 15vw;
  height: 15vw;
}

#works:hover img {
 width: 30vw;
 height: auto;
}

.year {
  /* background-color: white; */
  height: 1em;
  position: relative;
}

/* #works img {
  width: 10vw;
  height: 10vw;
} */
.notes {
  width: 20vw;
  height: 15vw;
  padding: 0.5em;
  font-size: 0.3em;
  scroll-behavior: smooth;
}
