@font-face {
  src: url(../../font/pictype-Regular.ttf);
  font-family: 'pictype';
}

@font-face {
  src: url(../../font/CLOCK-notRegular-Regular.otf);
  font-family: 'CLOCK';
}

@font-face {
  src: url(../../font/routed-gothic-narrow.ttf);
  font-family: 'Round';
}

@font-face {
  src: url(../../font/26Raindrops-Regular.otf);
  font-family: '26raindrops';
}

body {
  /* background-image: url(../../i/bg-5.gif);

  background-size: cover; */
  background-color: #f53d00;
  font-family: CLOCK;
}

select {
  /* background-image: url(../../i/9.jpeg); */
  /* background-image: url(../../i/bg-rice.gif); */
  background-color: transparent;
  background-size: cover;
  letter-spacing: 0.2rem;
  font-size: 5rem;
  -webkit-text-stroke: 0.1rem;
  text-transform: uppercase;
  font-family: CLOCK;
  text-align: center;
  border-radius: 100rem;
  border: white;
  /* border-radius: 100rem 0rem 100rem 0rem; */
  padding: 2rem;
  outline: none;
  -webkit-box-shadow: inset -2px 7px 50px 8px #e1e1e1;
  box-shadow: inset -2px 7px 50px 8px #e1e1e1;
  /* background-color: white; */
  /* background-color: blue; */
  /* background-color: #dfcce6; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Remove default arrow */
  /* background-image: url(...);   /* Add custom arrow */
  */
}

/* option:focus {
  font-family: CLOCK;
} */
p:focus {
  outline: none;
}

div p {
  margin-top: 5rem;
  padding: 0.8rem;
  background-image: url(../../i/bg-rain.gif);
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0px 0px 22px 5px #fff;
  box-shadow: inset 0px 0px 22px 5px #fff;
  border-radius: 2rem;
  /* overflow-y: hidden; */
}

p {
  /* background-color: red; */
  margin: 0;
  line-height: auto;
  font-size: 5rem;
  /* -webkit-text-stroke: 1rem rgba(50, 168, 141,0.2); */
}

/* selection style */
::-moz-selection {
  /* Code for Firefox */
  color: green;
  /* background-image: url(../../i/1.jpg); */
  background: #dfcce6;
}

::selection {
  color: green;
  /* background-image: url(../../i/1.jpg); */
  background: #dfcce6;
}

#output-images {
  mix-blend-mode: exclusion;
  width: 80vw;
  /* position: fixed; */
  right: 0;
  left: 0;
}

#output-images:hover {
  mix-blend-mode: multiply;
  width: 80vw;
  /* position: fixed; */
  right: 0;
  left: 0;
}

#output-images:active {
  mix-blend-mode: multiply;
  width: 80vw;
  /* position: fixed; */
  right: 0;
  left: 0;
}

footer {
  background-image: url(../../i/bg-crycat.gif);
  background-position:center;
  background-size:cover;
  color: red;
  -webkit-text-stroke: 1rem rgba(255, 255, 255, 0.85);
  filter:blur(0.2rem);
  font-size: 10rem;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
}
footer:active {
  display: none;
}
