@font-face {
  font-family: Sr_twigs;
  src: url(Sr_twigs.otf);
}

body {
  background-color: white;
  font-family: helvetica;
  font-size:50px;
}

p {
  margin-top: 0;
  color: hotpink;
}
#fname {
  background-color: white;
  font-family: Sr_twigs;
  color: black;
  font-size: 300px;
  border: none;
  width:800px;
  height: 500px;
}
