@font-face {
font-family:  sharpenmatters;
src: url(SharpenMatters-2.0-Regular.woff);
}

*{
  font-family: sharpenmatters;
  font-size: 25vw;
}

textarea{
  padding: 5vw;
  -webkit-box-shadow: inset 3px 3px 50px 24px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 3px 3px 50px 24px rgba(0,0,0,0.75);
  box-shadow: inset 3px 3px 50px 24px rgba(0,0,0,0.75);
  border-radius: 5vw;
  width: 100vw;
  height: 100vh;
  border: none;
}
