body {
  background-color: #e1e1e1;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.title p:nth-of-type(1){
  margin-top: 0;
  color: pink;
  font-size: 3vw;

}

.title p:nth-of-type(2){
  color: pink;
  font-size: 1vw;
}
#images {
  width: 100vw;
}

#images img{
  filter: blur(0px);
  -webkit-filter: blur(0px);
  opacity: 70%;
  float: left;
    margin-right: -6vw;
  width: 20vw;
  border-radius: 100px;

}
#images img:hover {
  filter: blur(0px);
  -webkit-filter: blur(0px);
  opacity: 90%;
  float: left;
  margin-right: -6 vw;
  width: 20vw;
  border-radius: 100px;

}

a:link{
  text-decoration: none;
  color: green;
}
a::before {
  text-decoration: none;
}
a::after {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: white;
}
