@font-face {
  src: url(font/CLOCK_220122-Regular.otf);
  font-family: 'CLOCK_22';
}
@font-face {
  src: url(font/BARBECUE_1216-Condensed.otf);
  font-family: 'BARBECUE_1216';
}

/* selections */

::-moz-selection { /* Code for Firefox */
  color: white;
  background: black;

}

::selection {
  color: white;
  background: black;

}
input:focus, textarea:focus, select:focus, [contenteditable] {
        outline: none;}


/* end */

/* links */

a {
  text-decoration: none;
  color: red;
}
a:hover{
  font-size: 3rem;
  color: blue;
}
body {
  font-family: CLOCK_22;
  text-transform: uppercase;
}


.title {
  font-size: 10rem;
  text-align: center;
  text-transform: uppercase;
  /* transform: rotate(0deg); */

}

.title:hover {
  transition: 0.5s;
  color: red;
  font-size:10.5rem;
  text-transform: lowercase;
  /* transform: rotate(180deg); */
}
.info {
  font-size: 2rem;
  text-align: center;
}
.list {
  color: green;
  text-align: center;
  font-size: 4rem;
}
.typeface {
  font-size: 8rem;
  letter-spacing: -0.2rem;
  font-family:BARBECUE_1216;

  /* -webkit-text-stroke: 0px transparent; */
}
.typeface:hover {
    /* -webkit-text-stroke: 2rem green; */
  transition: 1s;
  font-size: 8rem;
  letter-spacing: 2rem;
  font-family:BARBECUE_1216;

}
.barbecue {
  line-height:18rem;
  vertical-align: -15rem;
}
