* {
    margin: 0;
}
body{
    background-color: #e1e1e1;
    font-family: 'Varela Round', sans-serif;

}
.intro {
  width: 25vw;
  font-size: 1.5rem;
  padding-left: 2.5%;
  padding-bottom: 2rem;
}
form{
    margin: 2.5%;
}
form>input{
/*    background-color:black;*/
/*    color: whitesmoke;*/
    padding: 1%;
/*    border-radius: 2vh;*/
/*    margin: 2.5%;*/
/*    right: 0;*/
/*    bottom: 0;*/
    border: none;
    cursor: pointer;
    outline: none;
/*    border: 3px solid black;*/
    transition: 0.1s;
}
a {
    color: unset;
    text-decoration: none;
    cursor: pointer;
    /*    transition: 0.2s all ease;*/
}
a:hover{
    /*    opacity: 0.5;*/
    background-color: papayawhip;
    transition: 0.2s all ease;
}

.sommaire {
    margin-top: 2.5%;
    height: 10%;
}
.sommaire>a{
    margin-left: 2.5%;
    font-size: 1.2em;
}

/*#signesContainer {
  border-radius: 1rem;
  margin: 2.5%;
  padding: 1%;
  position: relative;
  background-color: lightgrey;
  border: 1px solid black;
  height: 30vh;
  overflow-x:scroll;
  width: auto;
  max-width: 20%;
  column-count: 3;
}
*/
#signesContainer>img{
    pointer-events:all;
    width: 50px;
    height: auto;
    margin: 2%;
}

#secondColumn{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events:none;
/*    opacity: 0.5;*/
/*    background-color: aliceblue;*/
    /*    z-index: -100000;*/
}
#secondColumn>img{
    pointer-events:all;
    width: 50px;
    height: auto;
    margin: 2%;
}

.cardToDuplicate {
    display: inline-grid;
    margin: auto;
    width: 100px;
    height: auto;
    margin: 2%;
    z-index: 1;
}
#sliders{
    position: relative;
    margin-bottom: 1rem;
    /*-webkit-box-shadow: 0px 0px 26px 0px rgba(113,69,255,0), 0px 0px 37px 6px rgba(99,252,237,0.93);
    box-shadow: 0px 0px 26px 0px rgba(113,69,255,0), 0px 0px 37px 6px rgba(99,252,237,0.93);*/
    background-color: #49ad8f;
    border-radius: 1rem;
    border: 1px solid none;
    padding: 1%;
/*    bottom: 0;*/
/*    column-count: 2;*/
    height: auto;
    max-width: 20%;
    width: auto;
    margin-left: 2.5%;
    /*    opacity: 0.5;*/
/*    background-color: aliceblue;*/
}
.slider {
    -webkit-appearance: none;
    /*    width: 30%;*/
    height: 2px;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin-bottom: 10%;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    z-index: 1000;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 25px;
    height: 15px;
    background: #c542f5;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    z-index: 1000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
}

#scaleRotate {
    position: relative;
}

#scaleRange {
    z-index: 1000;
    position: relative;
}
#scaleRangeX {
    z-index: 1000;
    position: relative;
}
#scaleRangeY {
    z-index: 1000;
    position: relative;
}
#scaleMirror {
    z-index: 1000;
    position: relative;
}

/*textarea{
    text-align: center;
    font-family: 'Varela Round', sans-serif;;
    font-size: 1.25rem;
    border: 1px solid #e1e1e1;
    border-radius: 1rem;
    position: fixed;
    padding: 1%;
    right: 2.5%;
    top: 0%;
    margin-top: 2.5%;
    height: 25vh;
    min-height: 2.5%;
    max-height: 15%;
    width: 20%;
    resize: both;
    /*min-width: 15%;
    max-width: 15%;}*/

.slidersButton{
    /*    width: 100%;*/
    position: relative;
    text-align: center;
    font-size: 1.5rem;
    background-color:black;
    color: white;
/*    color: whitesmoke;*/
    padding: 2%;
    margin: 2.5%;
    right: 0;
    bottom: 0;
    width: 4vh;
    height: 4vh;
    border: none;
    cursor: pointer;
    outline: none;
    border: 1px solid none;
    transition: 0.1s;
    border-radius: 50vh;
}

.bouton{
  z-index: 1000;
    font-size: 1.5rem;
    font-family: 'Varela Round', sans-serif;
    /*    width: 100%;*/
    color: white;
    position: relative;
    background-color:black;
/*    color: whitesmoke;*/
    padding: 2%;
    margin: 2.5%;
    right: 0;
    bottom: 0;
    width: auto;
    max-width: 95%;
    height: auto;
    border: none;
    cursor: pointer;
    outline: none;
    border: 1px solid none;
    padding: 0.5rem;
    transition: 0.1s;
    border-radius: 50vh;
}

#suppr {
  background: pink;
}

button{
    /*    width: 100%;*/
    z-index: 1000;
    position: fixed;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5rem;
    color: white;
    background-color:blue;
/*    color: whitesmoke;*/
    padding: 14px 20px;
    margin: 2.5%;
    right: 0;
    bottom: 0;
    border: none;
    cursor: pointer;
    outline: none;
    border: 3px solid none;
    transition: 0.1s;
    border-radius: 2vh;
}
button:active{
    /*    width: 100%;*/
    background-color:yellow;
    color: black;
    border: none;
    cursor: pointer;
    outline: none;
    border: 3px solid black;
    transition: 0.1s;
    z-index: 1000;
}
.scale {
  z-index: 1000;
  background-color: white;
  margin:0;
  border-radius: 1rem;
  padding: 1rem;
}
canvas{display: none;}
#openButton{
    margin: 2.5%;
    position: relative;
}

#makeYours {
  color: white;
  background-color: blue;
  padding: 1rem;
  border-radius: 1rem;
}

#title {
  background-color: purple;
  color:white;
  padding: 1rem;
  border-radius: 1rem;
}

/*—————————————————NEW———————————————————————————————————*/

#gallery{
    position: absolute;
    top: 10%;
    width: 95%;
    height: auto;
    /*background-color: aliceblue;*/
    column-count: 3;
    padding: 2.5%;
}
#gallery>img{
    border-radius: 1rem;
    border:  1px solid black;
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 2.5%;
}
#title{
    position: fixed;
    margin: 2.5%;
    top: 10px;
    height: auto;
    width: auto;
    cursor: pointer;
    z-index: 10000000;
}
#makeYours{
    position: fixed;
    margin: 2.5%;
    top: 10px;
    right: 0;
    height: auto;
    width: auto;
    cursor: pointer;
    z-index: 10000000;
}
#signesContainer {
  z-index: 1000;
  border-radius: 1rem;
    margin: 2.5%;
    margin-top: 7.5%;
    padding: 1%;
    position: relative;
    background-color: #fcf5ff;
    border: 1px solid none;
    height: 30vh;
    width: auto;
    max-width: 20%;
/*    max-width: 95%;*/
    column-count: 3;
    overflow-x: scroll;
}
textarea{
/*    outline: none;*/
text-align: center;
font-family: 'Varela Round', sans-serif;;
font-size: 1.25rem;
border: 1px solid grey;
border-radius: 2rem;
position: fixed;
padding: 1%;
right: 2.5%;
top: 0%;
margin-top: 2.5%;
height: 5vh;
/*min-height: 2.5%;
max-height: 15%;*/
width: 60%;
/*min-width: 15%;
max-width: 15%;
}
