@font-face {
  src: url(../font/pictype-Regular.ttf);
  font-family: 'pictype'
}
@font-face {
  src: url(../font/barbecue-2nd-Regular.otf);
  font-family: 'barbecue'
}

@font-face {
  src: url(../font/CLOCK-theRegular-Regular.woff);
  font-family: 'CLOCK-regular'
}
@font-face {
  src: url(../font/CLOCK-notRegular-Regular.otf);
  font-family: 'CLOCK-notregular'
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}
input:focus, textarea:focus, select:focus, [contenteditable] {
        outline: none;}
body {
  margin:0;
  font-family: barbecue;
  font-size: 2rem;
  line-height:6rem;
}
a {
  text-decoration: none;
  color: blue;
}
footer {
  text-align: center;
}
p {
  margin: 0;
}
.title {
  padding-bottom: 5rem;
  font-size: 10rem;
  line-height: 6rem;
}
/* letter-style */
.title .letter-n {
  /* color: white; */
  font-style: normal;
  /* background-color: blue; */
}
.title .letter-o {
  font-style: normal;
}
.title .letter-t {
  font-style: normal;
}
.title .letter-y {
  font-style: normal;

}
.title .letter-o {
  font-style: normal;
  letter-spacing: 2rem;
}
.title .letter-u {
  /* color: white; */
  font-style: normal;
  /* background-color: blue; */
}
.title .letter-r {
font-style: normal;
letter-spacing: 2rem;
}

.title .letter-t {
  font-style: normal;
}
.title .letter-y {
  font-style: normal;
}
.title .letter-p {
  font-style: normal;
}
.title .letter-e {
  font-style: normal;
}

.title .letter-f {
  font-style: normal;
}
.title .letter-o {
  font-style: normal;
}
.title .letter-u {
  font-style: normal;
}
.title .letter-n {
  font-style: normal;
}
.title .letter-d {
  font-style: normal;
}
.title .letter-r {
  font-style: normal;
}
.title .letter-y {
  font-style: normal;
}
/* general */

.letter-a {
  font-style: normal;
}
.letter-b {
  font-style: normal;
}
.letter-c {
  font-style: normal;
}
.letter-d {
  font-style: normal;
}

.letter-e {
  font-style: normal;
}


.letter-f {
  font-style: normal;
}
.letter-g {
  font-style: normal;
}
.letter-h {
  font-style: normal;
}
.letter-i {
  font-style: normal;
}
.letter-j {
  font-style: normal;
}
.letter-k {
  font-style: normal;
}
.letter-l {
  font-style: normal;
}
.letter-m {
  font-style: normal;
}
.letter-n {
  font-style: normal;
}
.letter-o {
  /* font-family: CLOCK; */
  font-style: normal;
}
.letter-p {
  font-style: normal;
}
.letter-q {
  font-style: normal;
}
.letter-r {
  font-style: normal;
}
.letter-s {
  font-style: normal;
}
.letter-t {
  font-style: normal;
}
.letter-u {
  font-style: normal;
}
.letter-v {
  font-style: normal;
}
.letter-w {
  font-style: normal;
}
.letter-x {
  font-style: normal;
}
.letter-y {
  font-style: normal;
}
.letter-z {
  font-style: normal;
}
/* ENDof-letter-style */

.type_name {
  font-size: 3rem;
  float: right;
  /* background-color: green; */
}
.type_pictype {
  padding-left: 2rem;
  font-family: pictype;
  letter-spacing: 6rem;
  padding-top: 2rem;
  padding-bottom:5rem;
  background-color: #e1e1e1;
  line-height: 6rem;
  font-size: 8rem;
}
.type_barbecue {
  -webkit-text-stroke: 0.08rem black;
  color:white;
  background-image: url(i/barbecue.png);
  background-size: cover;
  padding-top: 2rem;
  padding-bottom:5rem;
  background-color: #ff4800;
  line-height: 6rem;
  font-size: 8rem;
}
.type_clock_regular {
  -webkit-text-stroke: 0.08rem black;
  color:white;
  background-image: url(i/clock.png);
  background-size: cover;
  padding-top: 2rem;
  padding-bottom:5rem;
  background-color: #7b00ff;
  font-family: CLOCK-regular;
  font-size: 8rem;
}
.type_clock_notregular {
  -webkit-text-stroke: 0.08rem black;
  background-image: url(i/clock-2.png);
  background-size: cover;
  padding-top: 2rem;
  padding-bottom:5rem;
  color: white;
  background-color: #29c259;
  font-family: CLOCK-notregular;
    font-size: 8rem;
}
.more {
  background-color: yellow;
}
