
@font-face {
  src: url(font/Kiddo-Regular.otf);
  font-family: 'Kiddo';
}

body {
      margin: 0;
  font-family: Kiddo;
}

.typefaces-list {
  /* text-align: center; */
  margin-bottom: 5rem;
}
.list {
  font-size: 4rem;
}
nav {
  position: fixed;
  top: 0;
  font-size: 2rem;
  color: green;
}
.info {
  position: fixed;
  right: 0;
}
.content {
  margin-top: 5rem;
  font-size: 6rem;
}
img {
  width: 10vw;
}
img:hover {
  transition: 1s;
  width: 20vw;
}
footer {

  color: white;
    background-color: black;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
}
.try {
  color: red;
}
a {
  color: green;
  text-decoration: none;
}
a:hover {
  transition: 1s;
  font-size: 3rem;
}
a:default {
  text-decoration: none;
  color: red;
}
p {
  font-size: 2rem;
}
.info_page {
  padding-top: 10rem;
}
