/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) {

  body {
    margin: 0;
  }
    input[type='range'] {
      overflow: hidden;
      width: 150px;
      -webkit-appearance: none;
      background-color: #bf00ff;
    }

    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;
    }

    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: green;
      box-shadow: -80px 0 0 80px transparent;/*blue*/
    }

}

@media all and (orientation: portrait) {

  input[type='range'] {
    overflow: hidden;
    width: 100vw !important;
    -webkit-appearance: none;
    background-color: #bf00ff;
  }

  input[type='range']::-webkit-slider-runnable-track {
    height: 5vh !important;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }

  input[type='range']::-webkit-slider-thumb {
    width: 10vh !important;
    -webkit-appearance: none;
    height: 5vh !important;
    cursor: ew-resize;
    background: green;
    box-shadow: -80px 0 0 80px transparent !important;
  }

.sliders {
  font-size: 4rem;
}


button {
  background-color: #e1e1e1;
  border: none;
  border-radius: 1rem;
  font-size: 3rem !important;
  font-family: barbecue;
  transition: .5s;
  margin-bottom: 1rem;
}
button:active {
  color: white !important;
  background-color: red !important;
}
button:focus {
  background-color: red !important;
  color: white !important;
}

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7;
}
input[type="range"]::-moz-range-track {
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7;
}
input[type="range"]::-ms-fill-upper {
  background-color: #9a905d;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: black;

}

::selection {
  color: white;
  background: black;

}
input:focus, textarea:focus, select:focus, [contenteditable] {
        outline: none;}


/* end */


@font-face {
  src: url(fonts/BARBECUE_0106-Condensed.woff2);
  font-family: 'barbecue';
}
@font-face {
  src: url(fonts/CLOCK_220224-Regular.woff2);
  font-family: 'CLOCK-Regular';
}

@font-face {
  src: url(fonts/CLOCK.woff2);
  font-family: 'CLOCK-Weird';
}
@font-face {
  src: url(fonts/CLOCK_0417-notRegular.woff2);
  font-family: 'CLOCK';

}
@font-face {
  src: url(fonts/shiny-Regular.woff2);
  font-family: 'shiny';

}
body {
  font-family: barbecue;
}
#blabla {
  font-size: 45pt;
  margin-top: 4rem;
  text-align: center;
  margin-bottom: 3rem;
  font-feature-settings: 'ss02';

}

.buttons {
  text-align: center;
  background-color: transparent;
}
button {

  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  font-family: barbecue;
  transition: .5s;
}
button:active {
  color: white;
  background-color: red;
}
button:focus {
  background-color: red;
  color: white;
}
.sliders {
  text-align: center;
}

footer {
  /* padding-top:2rem; */
  color: blue;
  font-size: 1.3rem;
  /* font-family: CLOCK-Regular; */
  bottom: 0;
  position: fixed;
  /* left: 50%;
  transform: translateX(-50%); */
}
a {
  color: green;
  text-decoration: none;
}
