

@font-face {
  src: url(font/routed-gothic.ttf);
  font-family: 'Round';
}

body {
  background-color: yellow;
  /* background-color: lightblue; */
  /* background-color: #8EC5FC; */
  /* background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
  /* background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPSd3aGl0ZScgLz4KICA8cmVjdCB4PScwJyB5PScwJyB3aWR0aD0nMScgaGVpZ2h0PScxJyBmaWxsPSdibGFjaycgLz4KPC9zdmc+"); background-repeat: repeat; */
  font-family: Round;
  font-size: 1.3rem;
  letter-spacing: -0.08rem;

}
/* body p{
  transform: scaleY(1.1);
} */
/* body p:hover {
  background-color: yellow;
  filter: blur(6px) saturate(100%);
  -webkit-filter: blur(6px) saturate(100%);
  -moz-filter: blur(6px) saturate(100%);
  color: green;
} */
.nav {
  position: absolute;
  height: 100vh;
  /* overflow-y:hidden; */
  /* overflow: scroll; */
  width: auto;
}
.work-title {
  z-index: 999999999;

}
.nav img {
   /* column-count: 3; */
  /* border: 1px solid red; */
  /* -webkit-box-shadow: 0px 0px 17px -5px #FF0000;
box-shadow: 0px 0px 17px -5px #FF0000; */
  position: relative;
  /* float: left; */
  margin-top: 0.5em;
  border-radius: 1rem;
  width: 95vw;
  overflow-x: scroll;
}
.year {
  vertical-align: super;
  font-size: 0.8rem;
}

a {
  color: red;
  text-decoration: none;
}

.nav a:hover {
  -webkit-text-stroke: 0.2rem red;
}

.nav a .imgs{
  /* z-index: -999999; */
  /* width: 30vw; */
  display: none;
}
.nav a:hover .imgs {
  right:0;
  left: 0;
  display: block;
  column-count: 1;
  position: absolute;
  /* width: auto;
  height: 40vh; */
}

/* .nav img:hover {
  width: 50vh;
  height: auto;
} */
.description {
  /* background-color: lightblue; */
  border-radius: 1rem;
  /* background-color: #e1e1e1; */
  width: 95vw;
}
.small-title {
  /* writing-mode: vertical-lr; */
  /* border:0.2em dotted red; */
  border-radius: 1rem;
  font-size: 0.8rem;
  vertical-align: sub;
  color: red;
  /* margin-top: 3rem; */
  margin-right: 3rem;
  letter-spacing: 0.2rem;
  -webkit-text-stroke: 0.05rem red;
  text-transform: capitalize;
  /* line-height: 5; */
}
.description p{
  word-spacing: 0.3rem;
  /* display: grid; */
  padding: 0.5rem;
  column-count: 3;
  -webkit-text-stroke: 0.02rem blue;
  /* color: red; */
  color: blue;
  /* float: right; */
  font-size: 1.2rem;
  /* width: 100vw; */
  column-gap: 1em;
  text-align: left;
  /* -webkit-text-stroke: none; */
}

/* scrollbar style */
/* width */
::-webkit-scrollbar {
  width: 2rem;
  height: 3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10rem;
  background: red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blue;
}

textarea {
  outline: none;
  font-family: Round;

}
#edit {
  font-size: 5em;
}
#input .letter-z {
  color: green;
}
/* replace letter-style */
.letter-m {
  color: red;
  /* bg-behind the letter */
  background-image: url(i/letter-m-2.gif);
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  font-style: normal;
  vertical-align: sub
}

.letter-o{
  color: red;
  /* bg-behind the letter */
  background-image: url(i/bg-2.gif);
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  font-style: normal;
  vertical-align: sub
}

.letter-i{
color: green;
}


/* selection color */
::-moz-selection { /* Code for Firefox */
  color: red;
  background: blue;
}

::selection {
  color: red;
  background: blue;
}
