body {
  font-family: Jan;
}
.yes {
  color: blue;
  vertical-align: super;
  font-size: 0.2em;
}
.letter-r {
  color: red;
  vertical-align: sub;
  font-size: 0.2em;
}
.letter-p {
  color: red;
  vertical-align:middle;
  font-size: 0.2em;
}

.letter-s {
  color: red;
  vertical-align:middle;
  font-size: 0.2em;
}
